container {
  width: 75%;
  margin: 0 auto;
}

div {
  height: 100px;
  width: 100px;
  display: inline-block;
}

button {
  text-align: center;
}


/*[data-role="page"] /* NOTE: attribute selector can grab element by data key */
